{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.semanticscholar.org/v1/author/author"}, "response": {"body": {"encoding": "utf-8", "string": "{\"error\":\"Author not found\"}\n"}, "headers": {"Content-Type": ["application/json"], "x-amzn-RequestId": ["99ac362d-0e70-4942-9899-e985e3ced3c8"], "x-amzn-Remapped-Content-Length": ["29"], "x-amzn-Remapped-Connection": ["keep-alive"], "x-amz-apigw-id": ["cw19_EgRPHcFVEg="], "x-amzn-Remapped-Server": ["nginx/1.16.1"], "x-amzn-Remapped-Date": ["Thu, 25 Mar 2021 21:41:32 GMT"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.semanticscholar.org/v1/author/author"}, "recorded_at": "2021-03-25T21:41:32"}], "recorded_with": "betamax/0.8.1"}