{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.semanticscholar.org/v1/paper/c4e3be316ce0d5dfc9ec7b19298e9483484cc252"}, "response": {"body": {"encoding": "utf-8", "string": "{\"abstract\":\"Eagerly awaited by researchers for years, concrete examples of artificial intelligence\\u2013enabled search engines are beginning to emerge. Founded by the nonprofit Allen Institute for Artificial Intelligence (AI2), Semantic Scholar began as a search engine for computer science, geoscience, and neuroscience in 2015. In response to researchers\\u2019 inability to keep pace with reading all of the publications in their disciplines, the purpose of the project is automated learning from text in order to overcome information overload.\",\"arxivId\":null,\"authors\":[{\"authorId\":\"26976205\",\"name\":\"S. Fricke\",\"url\":\"https://www.semanticscholar.org/author/26976205\"}],\"citationVelocity\":11,\"citations\":[{\"arxivId\":null,\"authors\":[{\"authorId\":\"1577291246\",\"name\":\"Cardozo Rico\"},{\"authorId\":\"1584864945\",\"name\":\"Karol Camila\"}],\"doi\":null,\"intent\":[],\"isInfluential\":false,\"paperId\":\"f9ba2ddf3eea4c412caff35ea2975eb25d715560\",\"title\":\"Efecto a corto plazo de la asociaci\\u00f3n de los contaminantes criterio del aire con la mortalidad cardiopulmonar en la localidad de Suba, Bogot\\u00e1 D.C entre los a\\u00f1os del 2009 al 2014\",\"url\":\"https://www.semanticscholar.org/paper/f9ba2ddf3eea4c412caff35ea2975eb25d715560\",\"venue\":\"\",\"year\":2020},{\"arxivId\":null,\"authors\":[{\"authorId\":\"48573312\",\"name\":\"Andreas Harth\"},{\"authorId\":\"2601335\",\"name\":\"S. Kirrane\"},{\"authorId\":\"1802726\",\"name\":\"H. Paulheim\"},{\"authorId\":\"1953113\",\"name\":\"Anna Lisa Gentile\"},{\"authorId\":\"116259117\",\"name\":\"P. Haase\"},{\"authorId\":\"1708906\",\"name\":\"Michael Cochez\"},{\"authorId\":\"1743774\",\"name\":\"E. Bertino\"},{\"authorId\":\"1712107\",\"name\":\"Axel-Cyrille Ngonga Ngomo\"},{\"authorId\":\"12328677[...]
