{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.semanticscholar.org/v1/paper/paper"}, "response": {"body": {"encoding": "utf-8", "string": "{\"error\":\"Paper not found\"}\n"}, "headers": {"Content-Type": ["application/json"], "x-amzn-RequestId": ["d9633293-4e10-4b0e-a595-db4b694cd0e9"], "x-amzn-Remapped-Content-Length": ["28"], "x-amzn-Remapped-Connection": ["keep-alive"], "x-amz-apigw-id": ["cw4GPHe_vHcF_ng="], "x-amzn-Remapped-Server": ["nginx/1.16.1"], "x-amzn-Remapped-Date": ["Thu, 25 Mar 2021 21:56:04 GMT"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.semanticscholar.org/v1/paper/paper"}, "recorded_at": "2021-03-25T21:56:04"}], "recorded_with": "betamax/0.8.1"}